In [15]:
import pandas as pd
import numpy as np

In [16]:
icc = pd.read_csv("IccDiffData.csv")
icc

,Team1,Team2,Rating1,Rating2,RatingDiff,Stand1,Stand2
0,India IND,Turkey TUR,268,0,268,1000,1500
1,India IND,Thailand THA,268,0,268,1000,1500
2,India IND,Eswatini SWA,268,0,268,1000,1500
3,India IND,Lesotho LES,268,0,268,1000,1500
4,India IND,Estonia EST,268,0,268,1000,1500
...,...,...,...,...,...,...,...
1880,Kenya KEN,Germany GER,104,84,20,1500,2100
1881,Kenya KEN,Bermuda BRM,104,88,16,1500,2100
1882,Kenya KEN,Saudi Arabia SDA,104,94,10,1500,2100
1883,Kenya KEN,Bahrain BRN,104,96,8,1500,2100
1884,Kenya KEN,Tanzania TAN,104,96,8,1500,2100

In [17]:

icc.head()

       Team1         Team2  Rating1  Rating2  RatingDiff  Stand1  Stand2
0  India IND    Turkey TUR      268        0         268    1000    1500
1  India IND  Thailand THA      268        0         268    1000    1500
2  India IND  Eswatini SWA      268        0         268    1000    1500
3  India IND   Lesotho LES      268        0         268    1000    1500
4  India IND   Estonia EST      268        0         268    1000    1500

In [18]:
icc["Team1"].unique()

array(['India IND', 'England ENG', 'Pakistan PAK', 'South Africa SA',
       'New Zealand NZ', 'Australia AUS', 'West Indies WI',
       'Sri Lanka SL', 'Bangladesh BAN', 'Afghanistan AFG',
       'Zimbabwe ZIM', 'Ireland IRE', 'UAE UAE', 'Namibia NAM',
       'Scotland SCO', 'Nepal NEP', 'Oman OMA', 'Netherlands NED',
       'Papua New Guinea PNG', 'Hong Kong HK', 'Canada CAN', 'Jersey JSY',
       'Qatar QAT', 'Uganda UGA', 'Kuwait KUW', 'United States USA',
       'Singapore SIN', 'Malaysia MAS', 'Italy ITA', 'Kenya KEN'],
      dtype=object)

In [19]:
from sklearn.preprocessing import LabelEncoder
le_Team1 = LabelEncoder()
icc['Team1'] = le_Team1.fit_transform(icc['Team1'])
icc['Team1'].unique()

array([ 6,  4, 18, 23, 16,  1, 28, 24,  2,  0, 29,  7, 25, 13, 21, 14, 17,
       15, 19,  5,  3,  9, 20, 26, 11, 27, 22, 12,  8, 10])

In [20]:
icc["Team2"].unique()

array(['Turkey TUR', 'Thailand THA', 'Eswatini SWA', 'Lesotho LES',
       'Estonia EST', 'Gibraltar GIB', 'Greece GRE', 'Maldives MDV',
       'Seychelles SEY', 'Bulgaria BUL', 'Samoa SAM', 'Serbia SER',
       'Rwanda RWA', 'Panama PAN', 'Hungary HUN', 'Belize BIZ',
       'Mozambique MOZ', 'Bahamas BAH', 'Cyprus CYP', 'Bhutan BHU',
       'Sierra Leone SRL', 'Luxembourg LUX', 'Switzerland CHE',
       'Malta MLT', 'Czech Republic CZE', 'Ghana GHA', 'Sweden SWE',
       'Malawi MAW', 'Argentina ARG', 'Finland FIN', 'France FRA',
       'Norway NOR', 'Vanuatu VAN', 'Romania ROM', 'Portugal POR',
       'Botswana BOT', 'Nigeria NGR', 'Austria AUT', 'Cayman Islands CAY',
       'Belgium BEL', 'Isle of Man IOM', 'Guernsey GSY', 'Denmark DEN',
       'Spain ESP', 'Germany GER', 'Bermuda BRM', 'Tanzania TAN',
       'Saudi Arabia SDA', 'Bahrain BRN', 'Malaysia MAS', 'Italy ITA',
       'Kenya KEN', 'Singapore SIN', 'Uganda UGA', 'United States USA',
       'Kuwait KUW', 'Qatar QAT', 'Jersey JSY', 'Canada CAN',
       'Hong Kong HK', 'Papua New Guinea PNG', 'Netherlands NED',
       'Oman OMA', 'Nepal NEP', 'Scotland SCO', 'Namibia NAM', 'UAE UAE',
       'Ireland IRE', 'Zimbabwe ZIM', 'Afghanistan AFG', 'Bangladesh BAN',
       'Sri Lanka SL', 'West Indies WI', 'Australia AUS',
       'New Zealand NZ', 'South Africa SA', 'Pakistan PAK', 'England ENG',
       'Fiji FIJ', 'Cook Islands COK'], dtype=object)

In [21]:
le_Team2 = LabelEncoder()
icc['Team2'] = le_Team2.fit_transform(icc['Team2'])
icc['Team2'].unique()

array([73, 72, 21, 38, 20, 27, 28, 42, 63, 12, 59, 62, 58, 53, 31,  8, 44,
        4, 16, 10, 64, 39, 70, 43, 17, 26, 69, 40,  1, 23, 24, 50, 77, 57,
       55, 11, 49,  3, 14,  7, 33, 29, 18, 67, 25,  9, 71, 60,  5, 41, 34,
       36, 65, 75, 76, 37, 56, 35, 13, 30, 54, 47, 51, 46, 61, 45, 74, 32,
       79,  0,  6, 68, 78,  2, 48, 66, 52, 19, 22, 15])

In [22]:
X= icc[['Team1','Team2' ,'Rating1','Rating2','RatingDiff']]
y=icc[['Stand1','Stand2']]

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.1)
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

LinearRegression()

In [24]:
y_pred= linear_reg.predict(X_test)
y_pred

array([[1230.93508759, 1835.93369535],
       [ 946.53298403, 1434.43037738],
       [1150.43434629, 1707.89710634],
       [1065.17122075, 1608.22383987],
       [1336.47468978, 1978.26827563],
       [1045.96735124, 1576.05820503],
       [1045.50467947, 1580.52985264],
       [1107.30254028, 1667.78220249],
       [1492.02631891, 2186.8427218 ],
       [1006.65177678, 1512.89840349],
       [1339.301479  , 1978.43646071],
       [1055.80101959, 1591.42460574],
       [1268.00421183, 1874.2988763 ],
       [1180.13467675, 1767.91206008],
       [1371.13763587, 2022.52997676],
       [1168.20707308, 1747.82473087],
       [1268.8631319 , 1888.3481979 ],
       [1320.99296444, 1952.95802915],
       [1029.11588775, 1554.61510709],
       [ 971.45733043, 1467.39487667],
       [1503.35239762, 2190.08200617],
       [1183.54723468, 1757.3723674 ],
       [1168.33853509, 1747.72505058],
       [1126.40587881, 1687.92303628],
       [1046.76421839, 1575.42396308],
       [ 983.69891974, 1491.81955413],
       [ 901.81368033, 1371.90375816],
       [1096.13092806, 1649.2269355 ],
       [1047.32386003, 1571.25272918],
       [1270.68819952, 1889.05041425],
       [1103.48528223, 1659.02678067],
       [ 929.21460783, 1406.35308513],
       [ 900.71167646, 1369.36466247],
       [1070.500884  , 1617.86214097],
       [1053.43932235, 1575.87736573],
       [1061.55604763, 1606.27388541],
       [ 978.03025592, 1476.54579302],
       [1288.37046566, 1898.96021509],
       [1498.06327324, 2183.71714315],
       [1211.95760054, 1794.44449166],
       [1009.55722481, 1521.8999704 ],
       [ 983.42184773, 1488.59247892],
       [ 995.56305555, 1505.6645411 ],
       [1256.45539992, 1861.70933829],
       [1085.0663498 , 1629.19678913],
       [1159.55396687, 1732.57353763],
       [1198.41703543, 1785.4673787 ],
       [ 911.8296951 , 1385.80923939],
       [1111.04093095, 1664.58834101],
       [1725.16694086, 2493.82512842],
       [1139.74962154, 1703.5522017 ],
       [ 990.55440861, 1488.75121492],
       [1098.09687588, 1654.7194326 ],
       [1134.74854172, 1701.53842192],
       [1202.03163053, 1780.1054461 ],
       [1481.2731653 , 2165.37239845],
       [ 945.88820586, 1440.28868931],
       [1271.90329032, 1877.57043308],
       [1304.59171615, 1919.91307021],
       [1025.61076186, 1539.99484257],
       [1095.26158833, 1648.9684859 ],
       [1531.17794603, 2228.94716847],
       [1093.81054374, 1643.17902185],
       [1343.57804997, 1985.29759612],
       [ 963.91789676, 1454.97422312],
       [ 895.37328621, 1366.63254672],
       [1492.13108973, 2181.14068681],
       [1026.83330921, 1547.75890367],
       [1303.19865818, 1919.80240312],
       [ 950.32883609, 1439.23298856],
       [1131.47635007, 1694.96340347],
       [1239.32336607, 1835.34936814],
       [1154.415083  , 1729.23240915],
       [1316.1210861 , 1934.40749264],
       [1185.53615047, 1758.84365681],
       [1175.38822756, 1746.20119233],
       [1097.0555591 , 1652.3051339 ],
       [1366.01475097, 2013.0138088 ],
       [ 941.13834624, 1424.35150445],
       [1326.13710088, 1948.31297387],
       [1123.0334188 , 1673.44777937],
       [1425.94622618, 2098.06955396],
       [1219.60615396, 1820.13437707],
       [1092.64203363, 1632.15733157],
       [1046.48549389, 1584.91734714],
       [ 995.4246609 , 1508.83019857],
       [1106.96403606, 1666.8160961 ],
       [1182.3934492 , 1766.11801173],
       [1061.01518456, 1597.56174063],
       [1206.8389829 , 1801.25705711],
       [1331.74912759, 1967.64884067],
       [1080.23346842, 1622.29565409],
       [1604.11027302, 2329.5107021 ],
       [1015.50735115, 1540.1720409 ],
       [1113.18864093, 1656.48708514],
       [1498.88446167, 2189.4185598 ],
       [1216.86605696, 1810.9241418 ],
       [1304.19417727, 1922.10850106],
       [1256.12266718, 1867.0652121 ],
       [1101.98298633, 1654.19944292],
       [1675.95131482, 2428.1205221 ],
       [ 947.02675637, 1443.94705527],
       [1156.97105933, 1728.13892361],
       [1407.58614108, 2075.18995319],
       [1055.95804065, 1598.92009812],
       [ 935.42050446, 1420.17397049],
       [1098.20709531, 1639.94521506],
       [1055.58831142, 1587.69728098],
       [1702.29734559, 2463.63597407],
       [1545.05149633, 2258.14283885],
       [1383.42923002, 2035.7070846 ],
       [ 986.90017057, 1489.53711027],
       [1136.99887992, 1700.60718314],
       [1176.63711552, 1763.98635916],
       [1145.21417602, 1716.33998633],
       [1179.75521398, 1753.64383994],
       [1072.89301216, 1615.99958238],
       [1368.59236452, 2007.18105963],
       [1345.10574155, 1992.43503965],
       [ 963.90335297, 1458.13570378],
       [1375.68723511, 2033.25223113],
       [1114.10878711, 1669.36451925],
       [1133.7071043 , 1703.47170162],
       [1043.4202955 , 1564.95452364],
       [1201.94158577, 1780.53901043],
       [1136.52703631, 1704.52745089],
       [1421.50123435, 2092.3669912 ],
       [1381.32834693, 2042.06015382],
       [ 965.96072652, 1469.74538257],
       [1362.27451689, 2006.00239681],
       [1108.5783684 , 1662.25970839],
       [1352.20577804, 1999.87563845],
       [1215.9719347 , 1813.5013906 ],
       [1131.8711157 , 1682.85047216],
       [1110.65964737, 1665.35234115],
       [1162.30616858, 1740.91496297],
       [1029.49888413, 1546.96025524],
       [1105.81974298, 1649.84872062],
       [1180.76323614, 1752.2900842 ],
       [1176.55385257, 1760.27077968],
       [1148.96497432, 1705.8227465 ],
       [1481.68614266, 2161.89379682],
       [1093.94893839, 1640.01336438],
       [1379.08705114, 2039.27253173],
       [1509.51169107, 2200.75895912],
       [1194.12573977, 1774.84570219],
       [1033.18662407, 1561.67921747],
       [1231.21672231, 1836.82809726],
       [1665.93530004, 2414.21504087],
       [1138.78721736, 1710.9180209 ],
       [1275.97059364, 1880.76941599],
       [1169.34747957, 1749.88347706],
       [1123.2046557 , 1670.39256636],
       [1633.02292965, 2366.07741742],
       [1648.55038732, 2393.67119513],
       [1403.88588047, 2067.93388238],
       [ 999.02609318, 1513.18049265],
       [1719.68225831, 2484.17981982],
       [1265.4628962 , 1872.29922164],
       [ 920.2965318 , 1398.80781746],
       [1245.89664588, 1856.70429061],
       [ 972.17755683, 1470.23360169],
       [1196.15304559, 1787.64153532],
       [1285.13019015, 1909.40617125],
       [1121.89871335, 1687.89128188],
       [1135.63511564, 1693.08447342],
       [1129.37149243, 1694.95115702],
       [1375.87525256, 2026.4479117 ],
       [1470.66234575, 2149.26781618],
       [1605.62200215, 2331.62809045],
       [1055.37388294, 1594.66076316],
       [1075.82125232, 1606.05298181],
       [ 910.72769124, 1383.2701437 ],
       [ 998.75629181, 1514.27358247],
       [1199.45157791, 1788.230866  ],
       [1088.16944823, 1639.18896307],
       [1479.52709077, 2164.26694898],
       [1118.83001661, 1666.23866138],
       [1070.61399226, 1616.6627835 ],
       [1164.34726806, 1744.93322576],
       [ 883.645919  , 1351.15034942],
       [1018.37995702, 1527.61637722],
       [1013.66462343, 1533.33260054],
       [1252.19864536, 1865.14115952],
       [1051.67414758, 1585.08701665],
       [1185.72114831, 1758.82193174],
       [1152.02935969, 1726.54979357],
       [1213.40464537, 1801.8797431 ],
       [1109.17505555, 1667.67397105]])

In [25]:
linear_reg.score(X_test, y_test)

0.776553092069501

In [26]:
import pickle

In [30]:
data = {"model":linear_reg, "le_Team1": le_Team1, "le_Team2" : le_Team2 }
with open('cricket_pred.pkl','wb') as file:
    pickle.dump(data,file)

In [31]:
with open('cricket_pred.pkl','rb') as file:
    data= pickle.load(file)

model = data["model"]
le_Team1= data["le_Team1"]
le_Team2= data["le_Team2"]

In [33]:
y_pred = model.predict(X)
y_pred

array([[ 900.51286619, 1369.14111117],
       [ 900.71167646, 1369.36466247],
       [ 910.85100054, 1380.76577867],
       ...,
       [1345.41627405, 1992.91342548],
       [1362.71114201, 2013.89083555],
       [1349.5896638 , 1999.13644988]])